@{
    ViewData["Title"] = "Home Page";
}
<div class="row text-center">
             <img src="~/lib/logo.png/BuffTeks.jpg" >
             
            </div>

            <div class="container-fluid">
	            <div class="row">
		            <div class="col-md-12">
			            <h3 class="text-center text-success">
				            Create - Code - Develop
			            </h3>
		            </div>
	            </div>
            </div>

            <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2 class="text-center">
				Mission Statement
			</h2>
			<p>
				To further members' knowledge of software development, where members learn new skills and technology through a dedicated, but social environment
			</p>
			<p class="text'center">
				<a class="btn" href="http://www.wtamu.edu/academics/computer-information-decision-management.aspx">CIDM Main Page »</a>
			</p>
		</div>
		<div class="col-md-4">
            <h2 class="text-center">
				Paul and Virginia Engler College of Business. 
			</h2>
			<p>
Committed to teaching excellence in both undergraduate and graduate degree programs. Faculty members are student oriented yet maintain high standards for classroom performance, preparing students for intelligent, active and productive participation in business and community life.  West Texas A&M University is accredited by the Southern Association of Colleges and Schools and the Paul and Virginia Engler College of Business is accredited by the Association to Advance Collegiate Schools of Business (AACSB).              			</p>
			<p>
			
			<p class="text-center">
				<a class="btn " href="http://www.wtamu.edu/academics/college-business.aspx">WTAMU Website »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2 class="text-center">
				Activities
			</h2>
			<p>
                Provided IT solutions and support to problems facing three local companies as part of an experiential learning effort.
			</p>
            <p class="text-center">
				<a class="btn" href="http://www.wtamu.edu/student-life/default.aspx">Student Life »</a>
			</p>
		</div>
	</div>
</div>